{# src/EDiff/Bundle/AdminBundle/Resources/views/Matiere/index.html.twig #}

{% extends "EDiffAdminBundle::layout_front.html.twig" %}

{% block title %}{{ parent() }} | Choix de la matière{% endblock %}

{% block body %}

<div class="my-unit">
	<h2>{{ app.session.get('matiere').libelle }} ? Bon choix !</h2>
	
	<p><br/>Voici les questionnaires disponibles :</p>
	
	<!--
		<li><a>Chapitre 1 - La Préhistoire <span class="questionnaire_ferme">(questionnaire fermé)</span></a></li>
		<li><a>Chapitre 2 - L'Antiquité <span class="questionnaire_ferme">(questionnaire déjà complété)</span></a></li>
		<li><a href="/template_questions.html">Chapitre 3 - Le Moyen Âge</a></li>
	-->
	
	<form id="form_questionnaire" action="{{ path('EDiffAdminBundle_valider_questionnaire') }}" method="post">
	<ul>
		{% for entity in entities %}
			{% if entity.statut == 1 %}
				<li><a href="#" onclick="submitQuestionnaireForm('form_questionnaire', {{ entity.id }} )">{{ entity.titre }}</a> 
				{% for id in liste %}
					{% if entity.id == id %}
						<span class="questionnaire_ferme">(questionnaire déjà complété)</span>
					{% endif %}
				{% endfor %}
				</li>
			{% elseif entity.statut == 2 %}
			    <li><a href="#" onclick="submitQuestionnaireForm('form_questionnaire', {{ entity.id }} )">{{ entity.titre }}</a> <span class="questionnaire_ferme">(questionnaire fermé)</span></li>
			{% endif %}
		{% endfor %}
	</ul>
	<input type="hidden" name="questionnaire_choisi" id="questionnaire_choisi" value="" />
	</form>
	
	<p><br/><a href="{{ path('EDiffAdminBundle_liste_matieres') }}">Retour</a></p>
</div>

{% endblock %}