{# src/EDiff/Bundle/AdminBundle/Resources/views/Matiere/index.html.twig #}

{% extends "EDiffAdminBundle::layout_front.html.twig" %}

{% block title %}{{ parent() }} | Question 1 sur {{ nbQuestion }}{% endblock %}

{% block body %}

<div class="my-unit">

	<h2>{{ questionnaire.titre }} // Question 1 sur {{ nbQuestion }} : </h2>

	{% if question.document != '' %}
		<p><br/>Etudiez le document suivant :</p>
		<p class="document"><img src="{{ question.document }}" height="400"/></p>
	{% endif %}
	
	<p><br/>Répondez à la question suivante :</p>	
	<p class="question">{{ question.libelle }}</p>
	
	<form id="form_reponses" class="reponses">
		<p>
			{% for reponse in reponses %}
				<input type="radio" name="reponse" value="{{ reponse.id }}" id="reponse{{ reponse.id }}"/>&nbsp;<label for="reponse1">{{ reponse.libelle }}</label>
			{% endfor %}
			<input type="submit" value="OK !" />
			<span id="loading"><img src="/img/loading.gif" width="25" height="25"></span>
		</p>
	</form>
	
	<div id="resultat_question"></div>
	
	<p id="question_suivante" class="question_suivante">
		<a href="{{ path('EDiffAdminBundle_question_front', { 'id': questionnaire.id }) }}">Question suivante</a>
	</p>
	
</div>

<script>
$("#loading").hide();
$("#question_suivante").hide();

$("#form_reponses").submit(function(){ 
    $("#loading").show();

	$('input[type=submit]', this).attr('disabled', 'disabled');

    var reponse = $('input[type=radio][name=reponse]:checked').attr('value');
    var DATA = 'reponse=' + reponse + '&questionnaire=' + {{ questionnaire.id}} ;
    
    $.ajax({
        type: "POST",
        url: "{{ path('EDiffAdminBundle_valider_question', { 'id': question.id}) }}",
        data: DATA,
        cache: false,
        success: function(data){
           $('#resultat_question').html(data);
           $("#loading").hide();
           $("#question_suivante").show();
        }
    });    
    return false;
});
</script>

{% endblock %}