{# src/EDiff/Bundle/AdminBundle/Resources/views/Matiere/new.html.twig #}

{% extends "EDiffAdminBundle::layout_admin.html.twig" %}

{% block title %}{{ parent() }} | Matière{% endblock %}

{% block body %}
    <div class="hero-unit utilisateur">
		<h1>Création d'une matière</h1>
		
		<form action="{{ path('matiere_create') }}" method="post" {{ form_enctype(form) }}>
		    {{ form_widget(form) }}
		    <p>
		        <button class="btn btn-large" type="submit">Créer !</button>
		    </p>
		</form>
		
		</br>
		
		<p>
	        <a class="btn btn-primary btn" href="{{ path('matiere') }}">
	            Retour à la liste
	        </a>
		<p>

	</div>
{% endblock %}