{# src/EDiff/Bundle/AdminBundle/Resources/views/Matiere/show.html.twig #}

{% extends "EDiffAdminBundle::layout_admin.html.twig" %}

{% block title %}{{ parent() }} | Matière{% endblock %}

{% block body %}
    <div class="hero-unit utilisateur">
		<h1>Fiche d'une matière</h1>
		
		{% if update %}
			<div class="alert alert-error">
				<button class="close" data-dismiss="alert" type="button">×</button>
				Votre matière a bien été modifiée !
			</div>
		{% endif %}
		
		<p>
			<label class="large" for="libelle">Libellé</label>{{ entity.libelle }}
		</p>
		
		</br>
		
		<p>
	        <a class="btn btn-primary btn" href="{{ path('matiere') }}">
	            Retour à la liste
	        </a>

	        <a class="btn" href="{{ path('matiere_edit', { 'id': entity.id }) }}">
	            Modifier
	        </a>

	        <form action="{{ path('matiere_delete', { 'id': entity.id }) }}" method="post">
	            {{ form_widget(delete_form) }}
	            <button class="btn btn" type="submit">Supprimer cette matière</button>
	        </form>
		<p>

	</div>
{% endblock %}