{# src/EDiff/Bundle/AdminBundle/Resources/views/Question/edit.html.twig #}

{% extends layout %}

{% block title %}{{ parent() }} | Question{% endblock %}

{% block body %}

    <div class="hero-unit utilisateur">
		<h1>Edition d'une question</h1>
		
		<div class="alert alert-info">
			<button class="close" data-dismiss="alert" type="button">×</button>
			INFORMATION : Pour ajouter un document, insérez une URL vers une image. 
		</div>
		
		</br>
		
		<form action="{{ path('question_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
		    {{ form_widget(edit_form) }}
		    <p>
		        <button class="btn btn-large" type="submit">Modifier !</button>
		    </p>
		</form>
		
		</br>
		
		<p>
	        <a class="btn btn-primary" href="{{ path('question') }}">
	            Retour à la liste
	        </a>

	        <form action="{{ path('question_delete', { 'id': entity.id }) }}" method="post">
	            {{ form_widget(delete_form) }}
	            <button class="btn btn" type="submit">Supprimer cette question</button>
	        </form>
		<p>

	</div>
{% endblock %}