{# src/EDiff/Bundle/AdminBundle/Resources/views/Question/new.html.twig #}

{% extends "EDiffAdminBundle::layout_admin.html.twig" %}

{% block title %}{{ parent() }} | Question{% endblock %}

{% block body %}
    <div class="hero-unit utilisateur">
		<h1>Création d'une question</h1>
		
		<div class="alert alert-info">
			<button class="close" data-dismiss="alert" type="button">×</button>
			INFORMATION : Pour ajouter un document, insérez une URL vers une image. 
		</div>
		
		</br>
		
		<form action="{{ path('question_create') }}" method="post" {{ form_enctype(form) }}>
		    {{ form_widget(form) }}
		    <p>
		        <button class="btn btn-large" type="submit">Créer !</button>
		    </p>
		</form>
		
		</br>
		
		<p>
	        <a class="btn btn-primary btn" href="{{ path('question') }}">
	            Retour à la liste
	        </a>
		<p>

	</div>
{% endblock %}