{# src/EDiff/Bundle/AdminBundle/Resources/views/Question/show.html.twig #}

{% extends "EDiffAdminBundle::layout_admin.html.twig" %}

{% block title %}{{ parent() }} | Question{% endblock %}

{% block body %}
    <div class="hero-unit utilisateur">
		<h1>Fiche d'une question</h1>
		
		{% if update %}
			<div class="alert alert-error">
				<button class="close" data-dismiss="alert" type="button">×</button>
				Votre question a bien été modifiée !
			</div>
		{% endif %}
		
		<p>
			<label class="large" for="type">Type</label>{{ entity.type }}
		</p>
		<p>
			<label class="large" for="niveau">Niveau</label>{{ entity.niveau }}
		</p>
		<p>
			<label class="large" for="libelle">Libelle</label>{{ entity.libelle }}
		</p>
		<p>
			<label class="large" for="matiere">Matière</label>{{ entity.matiere }}
		</p>
		<p>
			<label class="large" for="reponses">Réponses associées : </label>
			
			{% if reponses|length > 0 %}
			<a class="btn btn-primary" href="{{ path('reponse_new', { 'question': entity.id }) }}">
	            Ajouter une réponse
	        </a>
			<br/>
			<table class="table-bordered table">
		    <thead>
		        <tr>
		            <th>Libellé</th>
		            <th>Bonne réponse ?</th>
		            <th>Actions</th>
		        </tr>
		    </thead>
		    <tbody>
		    {% for reponse in reponses %}
		        <tr>
		            <td>{% if reponse.bonneoumauvaise == 1 %} <strong>{{ reponse.libelle }}</strong> {% else %} {{ reponse.libelle }} {% endif %}</td>
		            <td>{% if reponse.bonneoumauvaise == 1 %} <strong>Bonne réponse</strong> {% else %} Mauvaise réponse {% endif %}</td>
		            <td>	                
                        <a class="btn btn btn-small" href="{{ path('reponse_edit', { 'id': reponse.id }) }}">Modifier</a>
                        <a class="btn btn btn-small" href="{{ path('reponse_delete', { 'id': reponse.id }) }}">Supprimer</a> 
		            </td>
		        </tr>
		    {% endfor %}
		    </tbody>
		</table>
			{% else %} 
			Pas encore de réponses !
			<a class="btn btn-primary" href="{{ path('reponse_new', { 'question': entity.id }) }}">
	            Ajouter une réponse
	        </a>
			{% endif %}
		</p>
		
		</br>
		
		<p>
	        <a class="btn btn-primary btn" href="{{ path('question') }}">
	            Retour à la liste
	        </a>

	        <a class="btn" href="{{ path('question_edit', { 'id': entity.id }) }}">
	            Modifier
	        </a>

	        <form action="{{ path('question_delete', { 'id': entity.id }) }}" method="post">
	            {{ form_widget(delete_form) }}
	            <button class="btn btn" type="submit">Supprimer cette question</button>
	        </form>
		<p>

	</div>
{% endblock %}