{# src/EDiff/Bundle/AdminBundle/Resources/views/AnneeScolaire/show.html.twig #}

{% extends "EDiffAdminBundle::layout_admin.html.twig" %}

{% block title %}{{ parent() }} | Année scolaire{% endblock %}

{% block body %}
    <div class="hero-unit utilisateur">
		<h1>Fiche d'une année scolaire</h1>
		
		{% if update %}
			<div class="alert alert-error">
				<button class="close" data-dismiss="alert" type="button">×</button>
				Votre année scolaire a bien été modifiée !
			</div>
		{% endif %}
		
		<p>
			<label class="large" for="anneedebut">Année de début</label>{{ entity.anneedebut }}
		</p>
		<p>
			<label class="large" for="anneefin">Année de fin</label>{{ entity.anneefin }}
		</p>
		
		</br>
		
		<p>
	        <a class="btn btn-primary btn" href="{{ path('anneescolaire') }}">
	            Retour à la liste
	        </a>

	        <a class="btn" href="{{ path('anneescolaire_edit', { 'id': entity.id }) }}">
	            Modifier
	        </a>

	        <form action="{{ path('anneescolaire_delete', { 'id': entity.id }) }}" method="post">
	            {{ form_widget(delete_form) }}
	            <button class="btn btn" type="submit">Supprimer cette année scolaire</button>
	        </form>
		<p>

	</div>
{% endblock %}