{# src/EDiff/Bundle/AdminBundle/Resources/views/User/index.html.twig #}

{% extends "EDiffAdminBundle::layout_admin.html.twig" %}

{% block title %}{{ parent() }} | {% if app.session.get('eleve_ou_prof') == "prof" %}Professeur{% else %}Elève{% endif %}{% endblock %}

{% block body %}
    <div class="hero-unit utilisateur">

        <h1>Liste des professeurs</h1>
		
		{% if delete %}
			<div class="alert alert-error">
				<button class="close" data-dismiss="alert" type="button">×</button>
		        Votre professeur a bien été supprimé !
			</div>
		{% endif %}

		<!-- BEGIN Tab -->
		{% if entities|length > 0 %}
		<table class="table-bordered table">
		    <thead>
		        <tr>
		            <th>Nom</th>
		            <th>Prenom</th>
		            <th>Login</th>
		            {% if app.session.get('eleve_ou_prof') == "admin" %}<th>Actions</th>{% endif %}
		        </tr>
		    </thead>
		    <tbody>
		    {% for entity in entities %}
		        <tr>
		            <td><a href="{{ path('user_show', { 'id': entity.id }) }}"> {{ entity.nom }}</a></td>
		            <td>{{ entity.prenom }}</td>
		            <td>{{ entity.login }}</td>
		            {% if app.session.get('eleve_ou_prof') == "admin" %}
		            <td>	                   
                        <a class="btn btn btn-small" href="{{ path('user_edit', { 'id': entity.id }) }}">Modifier</a>
                        <a class="btn btn btn-small" href="{{ path('user_delete', { 'id': entity.id }) }}" onClick="valid_delete()">Supprimer</a>
		            </td>
		            {% endif %}
		        </tr>
		    {% endfor %}
		    </tbody>
		</table>
		<!-- END Tab -->

		{% else %} 
		
        <h1>Aucun professeur</h1>

		{% endif %}
		
		</br>
		
		<p>
	        <a class="btn btn-primary" href="{{ path('user_new') }}">
	            Création d'un nouveau professeur
	        </a>
		</p>

	</div>
	
	<script>
	function valid_delete() {
		alert('Etes-vous sûr de vouloir supprimer cet utilisateur ?');
	}
	</script>
	
{% endblock %}
