{# src/EDiff/Bundle/AdminBundle/Resources/views/User/index.html.twig #}

{% extends "EDiffAdminBundle::layout_admin.html.twig" %}

{% block title %}{{ parent() }} | {% if app.session.get('eleve_ou_prof') == "prof" %}Professeur{% else %}Elève{% endif %}{% endblock %}

{% block body %}
    <div class="hero-unit utilisateur">

        <h1>Liste des professeurs</h1>
		
		{% if delete %}
			<div class="alert alert-error">
				<button class="close" data-dismiss="alert" type="button">×</button>
		        Votre professeur a bien été supprimé !
			</div>
		{% endif %}

		<!-- BEGIN Tab -->
		{% if entities|length > 0 %}
		<table class="table-bordered table">
		    <thead>
		        <tr>
		            <th>Login</th>
		            <th>Mot de passe</th>
		            <th>Nom</th>
		            <th>Prenom</th>
		            <th>Date de naissance</th>
		            <th>Actions</th>
		        </tr>
		    </thead>
		    <tbody>
		    {% for entity in entities %}
		        <tr>
		            <td>{{ entity.login }}</td>
		            <td>******</td>
		            <td>{{ entity.nom }}</td>
		            <td>{{ entity.prenom }}</td>
		            <td>{% if entity.datenaissance %}{{ entity.datenaissance|date('d-m-Y') }}{% endif%}</td>
		            <td>	                
                        <a class="btn btn btn-small" href="{{ path('user_show', { 'id': entity.id }) }}">Voir</a>   
                        <a class="btn btn btn-small" href="{{ path('user_edit', { 'id': entity.id }) }}">Modifier</a>
		            </td>
		        </tr>
		    {% endfor %}
		    </tbody>
		</table>
		<!-- END Tab -->

		{% else %} 
		
        <h1>Aucun professeur</h1>

		{% endif %}
		
		</br>
		
		<p>
	        <a class="btn btn-primary" href="{{ path('user_new') }}">
	            Création d'un nouveau professeur
	        </a>
		</p>

	</div>
{% endblock %}
