{# src/EDiff/Bundle/AdminBundle/Resources/views/User/index.html.twig #}

{% extends layout %}

{% block title %}{{ parent() }} | {% if app.session.get('eleve_ou_prof') == "prof" %}Professeur{% else %}Elève{% endif %}{% endblock %}

{% block body %}
    <div class="hero-unit utilisateur">

        <h1>Liste des élèves</h1>
		
		{% if delete %}
			<div class="alert alert-error">
				<button class="close" data-dismiss="alert" type="button">×</button>
		        Votre élève a bien été supprimé !
			</div>
		{% endif %}
		
		<!-- BEGIN Filters -->
		<form action="{{ path('user_eleve') }}" method="post">
			<select id="choix_classe" name="choix_classe">
				<option value="-1">Sélectionnez une classe</option>
				{% for classe in classes %}
					<option value="{{ classe.id }}" {% if filtreClasse == classe.id %} selected="selected" {% endif %}>{{ classe.libelle }}</option>
				{% endfor %}
			</select>
			
			<select id="choix_annee" name="choix_annee">
				<option value="-1">Sélectionnez une année</option>
				{% for annee in annees %}
<option value="{{ annee.id }}" {% if filtreAnnee == annee.id %} selected="selected" {% endif %}>{{ annee.datedebut|date('Y') }} / {{ annee.datefin|date('Y') }}</option>
				{% endfor %}
			</select>
			
			<button class="btn" type="submit">OK !</button>
		</form>
		<!-- END Filters -->
		
		<!-- BEGIN Tab -->
		{% if entities|length > 0 %}
		<table class="table-bordered table">
		    <thead>
		        <tr>
		            <th>Nom</th>
		            <th>Prenom</th>
		            <th>Login</th>
		            <th>Classe Année courante</th>
		            {% if app.session.get('user').droits == "admin" %}<th>Actions</th>{% endif %}
		        </tr>
		    </thead>
		    <tbody>
		    {% for entity in entities %}
		        <tr>
		            <td><a href="{{ path('user_show', { 'id': entity.user.id }) }}"> {{ entity.user.nom }}</a></td>
		            <td>{{ entity.user.prenom }}</td>
		            <td>{{ entity.user.login }}</td>
		            <td>{{ entity.classe.libelle }}</td>
		            {% if app.session.get('user').droits == "admin" %}
		            <td>	                   
                        <a class="btn btn btn-small" href="{{ path('user_edit', { 'id': entity.user.id }) }}">Modifier</a>
                        <a class="btn btn btn-small" href="{{ path('user_delete', { 'id': entity.user.id }) }}" onClick="valid_delete()">Supprimer</a>
		            </td>
		            {% endif %}
		        </tr>
		    {% endfor %}
		    </tbody>
		</table>
		<!-- END Tab -->
		
		<!-- BEGIN Pagination -->
		<center>
			<a class="btn" href="{{ path('user_eleve', { 'pagination_eleve_page': 0 }) }}"><<</a>
			{% if page == 0 %}
				<a class="btn" href="{{ path('user_eleve', { 'pagination_eleve_page': 0 }) }}"><</a>
			{% else %}
				<a class="btn" href="{{ path('user_eleve', { 'pagination_eleve_page': page - 1 }) }}"><</a>
			{% endif %}
			&nbsp;
			{% for i in range(0, nb_pages - 1) %}
			    {% if page == i %}
			    	{{ i + 1 }} / {{ nb_pages }} &nbsp;
			    {% else %}
			    	<a href="{{ path('user_eleve', { 'pagination_eleve_page': i }) }}">{{ i + 1 }} / {{ nb_pages }} </a> &nbsp;
			    {% endif %}
			{% endfor %}
			{% if page == nb_pages - 1 %}
				<a class="btn" href="{{ path('user_eleve', { 'pagination_eleve_page': page}) }}">></a>
			{% else %}
				<a class="btn" href="{{ path('user_eleve', { 'pagination_eleve_page': page + 1 }) }}">></a>
			{% endif %}
			<a class="btn" href="{{ path('user_eleve', { 'pagination_eleve_page': nb_pages - 1}) }}">>></a>
		</center>
		<!-- END Pagination -->
		
		{% else %} 
		
        <h1>Aucun élève</h1>

		{% endif %}
		
		</br>
		
		<p>
	        <a class="btn btn-primary" href="{{ path('user_new') }}">
	            Création d'un nouvel élève
	        </a>
		</p>

	</div>
	
	<script>
	function valid_delete() {
		alert('Etes-vous sûr de vouloir supprimer cet utilisateur ?');
	}
	</script>
	
{% endblock %}
