{# src/EDiff/Bundle/AdminBundle/Resources/views/User/new.html.twig #}

{% extends "EDiffAdminBundle::layout_admin.html.twig" %}

{% block title %}{{ parent() }} | {% if app.session.get('eleve_ou_prof') == "prof" %}Professeur{% else %}Elève{% endif %}{% endblock %}

{% block body %}
    <div class="hero-unit utilisateur">
		
		{% if app.session.get('eleve_ou_prof') == "prof" %}
        <h1>Création d'un professeur</h1>
        {% else %}
        <h1>Création d'un élève</h1>
        {% endif %}

		<form action="{{ path('user_create') }}" method="post" {{ form_enctype(form) }}>
		    {{ form_widget(form) }}
		    <p>
		        <button class="btn btn-large" type="submit">Créer !</button>
		    </p>
		</form>
		
		</br>
		
		<p>
	        {% if app.session.get('eleve_ou_prof') == "prof" %}
	        <a class="btn btn-primary btn" href="{{ path('user_prof') }}">
	        {% else %}
	        <a class="btn btn-primary btn" href="{{ path('user_eleve') }}">
	        {% endif %}
	            Retour à la liste
	        </a>
		<p>

	</div>
	
<script>
{% if app.session.get('eleve_ou_prof') == "prof" %}
$('#ediff_bundle_adminbundle_usertype_droits').val("prof");
{% else %}
$('#ediff_bundle_adminbundle_usertype_droits').val("eleve");
{% endif %}
</script>

{% endblock %}