{# src/EDiff/Bundle/AdminBundle/Resources/views/User/show.html.twig #}

{% extends "EDiffAdminBundle::layout_admin.html.twig" %}

{% block title %}{{ parent() }} | {% if app.session.get('eleve_ou_prof') == "prof" %}Professeur{% else %}Elève{% endif %}{% endblock %}

{% block body %}
    <div class="hero-unit utilisateur">
    
		{% if app.session.get('eleve_ou_prof') == "prof" %}
        <h1>Fiche d'un professeur</h1>
        {% else %}
        <h1>Fiche d'un élève</h1>
        {% endif %}
		
		{% if update %}
			<div class="alert alert-error">
				<button class="close" data-dismiss="alert" type="button">×</button>
				{% if app.session.get('eleve_ou_prof') == "prof" %}
		        Le professeur a bien été modifié !
		        {% else %}
		        L'élève a bien été modifié !
		        {% endif %}	
			</div>
		{% endif %}
		
		<p>
			<label class="large" for="login">Login</label>{{ entity.login }}
		</p>
		<p>
			<label class="large" for="password">Mot de passe</label>******
		</p>
		<p>
			<label class="large" for="password">Nom</label>{{ entity.nom }}
		</p>
		<p>
			<label class="large" for="password">Prénom</label>{{ entity.prenom }}
		</p>
		<p>
			<label class="large" for="password">Date de naissance</label>{{ entity.datenaissance|date('d/m/Y') }}
		</p>
		
		{% if exist %}
		<p>
			<label class="large" for="password">Classe</label>{{ classe.libelle }}
		</p>
		<p>
			<label class="large" for="password">Année scolaire</label>{{ annee.anneedebut }} - {{ annee.anneefin }}
		</p>
		{% else %}
		<p>
			<label class="large" for="password">Classe</label>Aucune affectation. Editez la fiche pour affecter une classe.
		</p>
		{% endif %}
		
		</br>
		
		<p>
		
			{% if app.session.get('eleve_ou_prof') == "prof" %}
	        <a class="btn btn-primary btn" href="{{ path('user_prof') }}">
	        {% else %}
	        <a class="btn btn-primary btn" href="{{ path('user_eleve') }}">
	        {% endif %}
	            Retour à la liste
	        </a>

	        <a class="btn" href="{{ path('user_edit', { 'id': entity.id }) }}">
	            Modifier
	        </a>

	        <form action="{{ path('user_delete', { 'id': entity.id }) }}" method="post">
	            {{ form_widget(delete_form) }}

	            {% if app.session.get('eleve_ou_prof') == "prof" %}
		        <button class="btn btn" type="submit">Supprimer ce professeur</button>
		        {% else %}
		        <button class="btn btn" type="submit">Supprimer cet élève</button>
		        {% endif %}	
	            
	        </form>
		<p>

	</div>
{% endblock %}