{# src/EDiff/Bundle/AdminBundle/Resources/views/Classe/index.html.twig #}

{% extends "EDiffAdminBundle::layout_admin.html.twig" %}

{% block title %}{{ parent() }} | Classe{% endblock %}

{% block body %}
    <div class="hero-unit utilisateur">
		<h1>Liste des classes</h1>
		
		{% if delete %}
			<div class="alert alert-error">
				<button class="close" data-dismiss="alert" type="button">×</button>
				Votre classe a bien été supprimée !
			</div>
		{% endif %}
		
		{% if entities|length > 0 %}
		<table class="table-bordered table">
		    <thead>
		        <tr>
		            <th>Libelle</th>
            		<th>Actions</th>
		        </tr>
		    </thead>
		    <tbody>
		    {% for entity in entities %}
		        <tr>
		            <td>{{ entity.libelle }}</td>
		            <td>	                
                        <a class="btn btn btn-small" href="{{ path('classe_show', { 'id': entity.id }) }}">Voir</a>   
                        <a class="btn btn btn-small" href="{{ path('classe_edit', { 'id': entity.id }) }}">Modifier</a>
		            </td>
		        </tr>
		    {% endfor %}
		    </tbody>
		</table>
		{% else %} 
		Aucune classe </br>
		{% endif %}
		
		</br>
		
		<p>
	        <a class="btn btn-primary" href="{{ path('classe_new') }}">
	            Création d'une nouvelle classe
	        </a>
		</p>

	</div>
{% endblock %}