{# src/EDiff/Bundle/AdminBundle/Resources/views/Questionnaire/index.html.twig #}

{% extends "EDiffAdminBundle::layout_admin.html.twig" %}

{% block title %}{{ parent() }} | Questionnaire{% endblock %}

{% block body %}
    <div class="hero-unit utilisateur">
		<h1>Liste des questionnaires</h1>
		
		{% if delete %}
			<div class="alert alert-error">
				<button class="close" data-dismiss="alert" type="button">×</button>
				Votre questionnaire a bien été supprimé !
			</div>
		{% endif %}
		
		{% if entities|length > 0 %}
		<table class="table-bordered table">
		    <thead>
		        <tr>
		            <th>Titre</th>
		            <th>Statut</th>
		            <th>Nombre de questions</th>
		            <th>Actions</th>
		        </tr>
		    </thead>
		    <tbody>
		    {% for entity in entities %}
		        <tr>
		            <td>{{ entity.titre }}</td>
		            <td>
		            	{% if entity.statut == 2 %}
							Fermé
						{% else %}
							Ouvert
						{% endif %}
		            </td>
		            <td>{{ entity.nbquestionsarepondre }}</td>
		            <td>	                
                        <a class="btn btn btn-small" href="{{ path('questionnaire_show', { 'id': entity.id }) }}">Voir</a>   
                        <a class="btn btn btn-small" href="{{ path('questionnaire_edit', { 'id': entity.id }) }}">Modifier</a>
		            </td>
		        </tr>
		    {% endfor %}
		    </tbody>
		</table>
		{% else %} 
		Aucun questionnaire </br>
		{% endif %}
		
		</br>
		
		<p>
	        <a class="btn btn-primary" href="{{ path('questionnaire_new') }}">
	            Création d'un nouveau questionnaire
	        </a>
		</p>

	</div>
{% endblock %}