{# src/EDiff/Bundle/AdminBundle/Resources/views/QuestionnaireEleve/index.html.twig #}

{% extends layout %}

{% block title %}{{ parent() }} | Réponses des élèves{% endblock %}

{% block body %}
    <div class="hero-unit utilisateur">
		<h1>Liste des réponses des élèves</h1>

		<h3>Etape 3 : Réponses de "{{ myEleve.nom }} {{ myEleve.prenom }}" au questionnaire "{{ myQuestionnaire.titre }}"</h3>

		</br></br>

		{% if reponses|length > 0 %}
		<table class="table-bordered table">
		    <thead>
		        <tr>
		            <th>Question</th>
		            <th>Numéro</th>
            		<th>Bonne réponse ?</th>
		        </tr>
		    </thead>
		    <tbody>
		    {% for reponse in reponses %}
		        <tr>
		            <td>{{ reponse.question }}</td>
		            <td>{{ reponse.numeroquestion }}</td>
		            <td>
		            	{% if reponse.bonneoumauvaise == 1 %}
		            	Bonne réponse
		            	{% else %}
						Mauvaise réponse
						{% endif %}
					</td>
		        </tr>
		    {% endfor %}
		    </tbody>
		</table>
		
		{% else %} 
		
		Oups ! Pas de réponse à ce questionnaire pour cet élève! </br></br></br>
		
		{% endif %}
		
		<a href="{{ path('questionnaireeleve_etape2') }}?id={{ myQuestionnaire.id }}&classe={{ myQuestionnaire.classe.id }}&annee={{ myQuestionnaire.anneescolaire.id }}"> << Etape précédente (Score des élèves)</a>

	</div>
{% endblock %}