{# src/EDiff/Bundle/AdminBundle/Resources/views/Competence/edit.html.twig #}

{% extends layout %}

{% block title %}{{ parent() }} | Compétence{% endblock %}

{% block body %}
    <div class="hero-unit utilisateur">
		<h1>Edition d'une compétence</h1>
		
		<form action="{{ path('competence_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
		    {{ form_widget(edit_form) }}
		    <p>
		        <button class="btn btn-large" type="submit">Modifier !</button>
		    </p>
		</form>
		
		</br>
		
		<p>
	        <a class="btn btn-primary" href="{{ path('competence') }}">
	            Retour à la liste
	        </a>

	        <form action="{{ path('competence_delete', { 'id': entity.id }) }}" method="post">
	            {{ form_widget(delete_form) }}
	            <button class="btn btn" type="submit">Supprimer cette compétence</button>
	        </form>
		<p>

	</div>
{% endblock %}